{{! this is a .gophermap/menu for the directory }}

## ABC/Title/h1

FIRST NORMAL PARAGRAPH IN INDEX
*Italic* is nice, but have you heard of **bold?**
Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an [unknown printer](/somewherelocal.txt) took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
[some link](/some-menu)

{{#justify}}
Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an [unknown printer](/somewherelocal.txt) took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
{{/justify}}

Lorem Ipsum is simply dummy text of the printing and typesetting industry. [Lorem Ipsum](/local-link.txt) has been the industry's standard dummy [text ever](https://example.org/text.txt) since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
[some link](/some-menu)

## CaB/H2

Paragraph below h2.
Lorem Ipsum is simply dummy text of the printing and typesetting industry. [Lorem Ipsum](/local-link.txt) has been the industry's standard dummy [text ever](https://example.org/text.txt) since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
[some link](/some-menu)

{{#justify}}
Paragraph below h2.
Lorem Ipsum is simply dummy text of the printing and typesetting industry. [Lorem Ipsum](/local-link.txt) has been the industry's standard dummy [text ever](https://example.org/text.txt) since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
[some link](/some-menu)
{{/justify}}

{{#justify2}}
Paragraph below h2.
Lorem Ipsum is simply dummy text of the printing and typesetting industry. [Lorem Ipsum](/local-link.txt) has been the industry's standard dummy [text ever](https://example.org/text.txt) since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
[some link](/some-menu)
{{/justify2}}


{{#justify2}}
Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
{{/justify2}}
